# HTB / Pentest Sensitive
*.ovpn
*.pem
*.key
*.pfx
*.p12
*.kdbx

# Loot / secrets
loot/
secrets/
private/
creds.txt
passwords.txt

# Captures / logs
*.pcap
*.cap
*.log

# Archives
*.zip
*.7z
*.tar
*.gz

# OS junk
.DS_Store
Thumbs.db
